.errorPage {
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: var(--primary-font);
    color: var(--primary-color);
}

.errorPage h1 {
    font-size: 240px;
    margin: 0;
}

.errorPage p {
    font-size: 26px;
    font-weight: 500;
}

.backButton {
    color: black;

    font-family: var(--primary-font);
    font-weight: 500;

    margin: 1em;
}