.cards-wrapper-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 1240px;
    margin: 0 auto;

    padding: 35px 0px 35px 0px;

}

.cards {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    
    background-color: #F6F6F6;

    padding: 35px;

    border-radius: 20px;
}

.card {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.card:hover {
    cursor: pointer;
}

.cards h2 {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-20%, -40%);

    margin: 0;
    font-size: 15px;
    font-family: var(--primary-font);
    color: white;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    border-radius: 10px;
    pointer-events: none;
}

.locationPicture {
    width: 340px;
    height: 340px;
    display: block;
    object-fit: cover;

    border-radius: 15px;
    z-index: 1;
}