header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;

    width: 100%;
    height: 70px;
}


.right {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

header h1{
    background-color: white;
    color: #FF6060;
}

.navButton {
    color: black;
    text-decoration: none;

    margin: 1em;
}

.navButton:hover {
    text-decoration:underline;
}