header {
    width: 100%;
    height: 70px;
    margin: 15px 0px 0px 0px;
}

.header-inner {
    max-width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.header-inner img {
    width: 170px;
}

.right {
    display: flex;
    margin-left: auto;

    font-size: 24px;
}

header h1{
    background-color: white;
    color: var(var(--primary-color));
}

.navButton {
    color: black;

    text-decoration: none;

    font-family: var(--primary-font);
    font-weight: 500;

    margin: 1em;
}

.navButton:last-child {
    margin-right: 0;
}

.navButton:hover {
    text-decoration:underline;
}