header {
    width: 100%;
    height: 70px;
}

.header-inner {
    max-width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}


.right {
    display: flex;
    margin-left: auto;
}

header h1{
    background-color: white;
    color: #FF6060;
}

.navButton {
    color: black;

    text-decoration: none;

    font-family: 'Montserrat';
    font-weight: 500;

    margin: 1em;
}

.navButton:last-child {
    margin-right: 0;
}

.navButton:hover {
    text-decoration:underline;
}