header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;

    width: 100%;
    height: 70px;
}


.right {
    display: flex;
    margin-left: auto;
}

header h1{
    background-color: white;
    color: #FF6060;
}

.navButton {
    color: black;

    text-decoration: none;

    font-family: 'Montserrat';
    font-weight: 500;

    margin: 1em;
}

.navButton:hover {
    text-decoration:underline;
}