.footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background-color: black;
    color: white;
}

img {
    width: 122px;
}

p {
    margin: 0;
    margin-top: 20px;
}