.img-wrapper-center {
    position: relative;
    left: 15%;
    max-width: 1224px;
}

.textBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    
}

.beach {
    width: 100%;
    height: 223px;
    display: block;
    object-fit: cover;


    border-radius: 20px;
    filter: brightness(50%) drop-shadow(0px 5px 2px rgb(180, 180, 180));
    z-index: 1;
}