.img-wrapper-center {
    position: relative;
}

.textBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    
}

.beach {
    width: 100%;
    height: 223px;
    display: block;
    object-fit: cover;

    border-radius: 20px;
    filter: brightness(60%);
    filter: drop-shadow(0px 5px 5px grey);
    z-index: 1;
}