.img-wrapper-center {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1240px;
}

.textBanner {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    color: white;
    font-family: 'Montserrat';
    font-size: 48px;

    margin: 0;
    z-index: 2;
    
}

.beach {
    width: 100%;
    height: 223px;
    display: block;
    object-fit: cover;

    border-radius: 20px;
    filter: brightness(50%) drop-shadow(0px 5px 2px rgb(180, 180, 180));
    z-index: 1;
}