.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.sliderBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vh;

    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);

    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
}

.sliderBox h1 {
    font-size: 24px;
    margin: 0px;
}

.slider p {
    width: 80vh;
    font-family: var(--primary-font);
    margin: 12px;
}